<h1>Listing Owners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Details</th>
  </tr>

<% @owners.each do |owner| %>
  <tr>
    <td><%=h owner.name %></td>
    <td><%=h owner.details %></td>
    <td><%= link_to 'Show', [current_user, owner] %></td>
    <td><%= link_to 'Edit', edit_user_owner_path(current_user, owner) %></td>
    <td><%= link_to 'Destroy', [current_user, owner], :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Un-Link Account', unlink_user_owner_path([current_user, owner]) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New owner', new_user_owner_path(current_user) %>