<h1>Vial show</h1>
<p>
  <b>Name:</b>
  <%=h @vial.name %>
</p>
<p>
  <b>P Value:</b>
  <%=h @vial.p_value %>
</p>
<p>
  <b>Frozen:</b>
  <%=h @vial.frozen_on %>
</p>
<p>
  <b>Comment:</b>
  <%=h @vial.comment %>
</p>
<p>
  <b>Present :</b>
  <%=h @vial.present %>
</p>