<h1>Listing Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Details</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Show', owner_user_path(@owner, user) %></td>
    <td><%= link_to 'Edit', edit_owner_user_path(@owner, user) %></td>
    <td><%= link_to 'Destroy', owner_user_path(@owner, user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_owner_user_path %>