<p>
  <%= f.label :number %><br />
  <%= f.text_field :number %>
</p>
<p>
  <%= f.label :shelf %><br />
  <%= f.text_field :shelf, :value => shelf_name(box) %>
</p>
<p>
  <%= f.label :owner %><br />
  <%= f.text_field :owner, :value => owner_name(box) %>
</p>

