<p>
  <%= f.label :number %><br />
  <%= f.text_field :number %>
</p>
<p>
  <%= f.label :shelf %><br />
  <%= f.text_field :shelf %>
</p>
<p>
  <%= f.label :owner %><br />
  <%= f.text_field :owner %>
</p>