<h1>Edit Box</h1>

<% form_for(@box) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f, :box => @box } %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @box %> |
<%= link_to 'Back', boxes_path %>
