<h1>Editing transfer</h1>

<% form_for(@transfer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :when %><br />
    <%= f.datetime_select :when %>
  </p>
  <p>
    <%= f.label :vial %><br />
    <%= f.text_field :vial %>
  </p>
  <p>
    <%= f.label :slot %><br />
    <%= f.text_field :slot %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transfer %> |
<%= link_to 'Back', transfers_path %>