<h1>Listing transfers</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Destination</th>
    <th>When</th>
    <th>Type</th>
    <th>Comment</th>
  </tr>

<% @transfers.each do |transfer| %>
  <tr>
    <td><%=h transfer.handler %></td>
    <td><%=h transfer.patron %></td>
    <td><%=h transfer.vial %></td>
    <td><%=h transfer.slot %></td>
    <td><%=h transfer.when %></td>
    <td><%=h transfer.type %></td>
    <td><%=h transfer.comment %></td>
    <td><%= link_to 'Show', transfer %></td>
    <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
    <td><%= link_to 'Destroy', transfer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transfer', new_transfer_path %>